.homepage {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.homepageContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projectOverview {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconWrapper {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(00, 00, 00, 0.05);
  border-radius: 5px;
}

.sewdbFiller {
  background-color: var(--color-sewdbFill);
}

.pollzoneFiller {
  background-color: var(--color-pollzoneFill);
}

.spotifyFiller {
  background-color: var(--color-spotifyFill);
}

.recipebookFiller {
  background-color: var(--color-recipebookFill);
}

.gameFiller {
  background-color: var(--color-gameFill);
}

.projectBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: 24px;
}

@media (min-width: 768px) {
  .projectOverview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .noUnderline {
    width: calc(50% - 12px);
  }
}
