.projectDetail {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.intro {
  display: flex;
  flex-direction: column;
}

.imageWrapper > img {
  width: 100%;
  height: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
